{% extends 'base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}<br/>
        {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-success">Add</button>
</form>

{% endblock %}