{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1 align="center">
        <b>
            {{instance.subject}}
        </b>
    </h1>
    <br/>
    <b>Author</b>: {{instance.author}}<br/><br/>
    <b>Date</b>: {{instance.last_updated}}<br/><br/>
    <b>Last Updated</b>: {{instance.timestamp}}<br/><br/>
    {{instance.content}}
    <hr/>

    <form method="post" action="{% url 'blog:blog_comment' %}">
        {% csrf_token %}
        <input type="hidden" name="take_id" value="{{ instance.id }}">
        <input type="text" placeholder="Comment" name="comment">
        <input type="submit" />
    </form>
    <br />
    {% for com in comment %}
        {% if com.blog.subject == instance.subject %}
            {{com}}<br/>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}
