{% extends 'base.html' %}
{% block content %}
<br/>

<div class="container" style="">
    <div align="right">
        <a href="{% url 'blog:blog_add' %}" class="btn btn-success">Add Blog</a>
    </div>

    {% for b in blog %}
        <a href="{{b.get_absolute_url}}" class="btn btn-default">{{b}}</a>
        <hr/>
    {% endfor %}
</div>

{% endblock %}

